body {
    margin:0;
    padding:25px;
    margin-top:-5px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 100;
    }

.controls {
    margin:auto;
    width:80%;  
    text-align:center;  
}
h1 {
  font-size: 35px;
  font-family: 'Bitcount Grid Single', serif;
  font-weight: 450;
  margin-left:11px;

}


h2 {
  margin-left:11px;
  font-size: 20px;
  font-family: 'Bitcount Grid Single', serif;
  font-weight: 350;

}

/* #checkboxForm{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  border: 5px solid black; 
  height: 80vh;
  flex-wrap:wrap;
  align-content:flex-start;
  column-gap: .1em;
  row-gap: .1em; 
} */

#checkboxForm{
  display: grid;
  grid-template-columns:  auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  width:800px;
}


#myCheckbox{
  width:400px;
  height:20px;
}



button {
  font-size:12;
  font-family: 'Playfair', sans-serif;
  font-style: italic;
  font-style: oblique;
  /* background-color:transparent; */
  /* border-color:red; */
  border-radius:1000px;
  border-style:solid;
  border-width:1px; 
  width:60px;
  height:20px;
  cursor:pointer;
  /* color:white; */
  /* box-shadow:1px 2px 8px grey; */
  margin-left:10px;
}

.disappear {
  opacity: 0;
  height:0px;
  margin:0px;
  padding:0px;
  visibility: hidden;
}

#submit {
  width:60px;
  height:20px;
  font-family: sans-serif;

}

#buttonText {
  width:60px;
  height:20px;
  font-family: sans-serif;

}

/* input[type=checkbox]
{
  /* Double-sized Checkboxes */
  /* -ms-transform: scale(2); /* IE */
  /* -moz-transform: scale(2); /* FF */
  /* -webkit-transform: scale(2); /* Safari and Chrome */
  /* -o-transform: scale(2); /* Opera */
  /* transform: scale(2);
  padding: 10px; */ */ */ */ */
/* } 


